{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="card p-4 shadow">
    <h3 class="text-center mb-3">Logowanie</h3>

    <form method="post">
        {% csrf_token %}

        <input type="email" name="email" class="form-control mb-2" placeholder="Email" required>
        <input type="password" name="password" class="form-control mb-3" placeholder="Hasło" required>

        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        <button class="btn btn-primary w-100">Zaloguj</button>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'register' %}">Nie masz konta? Zarejestruj się</a>
    </div>
</div>
{% endblock %}
