{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm">
    <h3 class="text-center mb-3">Rejestracja</h3>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" class="form-control mb-2" placeholder="Username" required>
        <input type="email" name="email" class="form-control mb-2" placeholder="Email" required>
        <input type="password" name="password" class="form-control mb-3" placeholder="Hasło" required>

        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        {% if success_message %}
            <div class="alert alert-success">{{ success_message }}</div>
        {% endif %}

        <button type="submit" class="btn btn-success w-100">Zarejestruj</button>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'login' %}">Masz konto? Zaloguj się</a>
    </div>
</div>
{% endblock %}
