{% extends "base.html" %}
{% block content %}
{% load hashtag_extras %}

<div class="container my-4">

    <div class="row align-items-stretch">

        <!--  STRZAŁKA: STARSZY POST  -->
        <div class="col-1 d-flex align-items-center justify-content-center">
            {% if next_post %}
                <a href="{{ next_post.get_absolute_url }}"
                class="btn btn-outline-secondary"
                title="Nowszy post">
                    &lt;
                </a>
            {% endif %}
        </div>

        <!--  ZDJĘCIE  -->
        <div class="col-md-6 bg-dark d-flex align-items-center justify-content-center rounded-start">
            <img src="{{ post.image.url }}" class="img-fluid">
        </div>

        <!--  PRAWA SEKCJA  -->
        <div class="col-md-4 d-flex flex-column p-3 border">

            <!--  GÓRA  -->
            <div class="d-flex align-items-center justify-content-between mb-2">

                <!-- LEWA: AVATAR + USER -->
                <div class="d-flex align-items-center gap-2">
                    {% if post.author.avatar %}
                        <a href="{% url 'user_profile' post.author.username %}">
                            <img src="{{ post.author.avatar.url }}"
                                class="rounded-circle"
                                width="40" height="40">
                        </a>
                    {% endif %}
                    <a href="{% url 'user_profile' post.author.username %}"
                    class="text-decoration-none text-light">
                        <strong>{{ post.author.username }}</strong>
                    </a>
                </div>

                <!-- PRAWA: FOLLOW + Usuń + X -->
                <div class="d-flex align-items-center gap-2">

                    {% if request.user != post.author %}
                    <form method="post"
                        action="{% url 'toggle_follow' post.author.username %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next_url }}">
                        <button class="btn btn-sm
                            {% if post.author.id in following_ids %}
                                btn-outline-secondary
                            {% else %}
                                btn-outline-primary
                            {% endif %}">
                            {% if post.author.id in following_ids %}
                                Anuluj
                            {% else %}
                                Obserwuj
                            {% endif %}
                        </button>
                    </form>
                    {% endif %}

                    {% if post.author == request.user %}
                        <form method="post"
                            action="{% url 'delete_post' post.id %}"
                            onsubmit="return confirm('Czy na pewno chcesz usunąć ten post?');">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-outline-danger delete-x">
                                Usuń post
                            </button>
                        </form>
                    {% endif %}

                    {% if return_to %}
                        <a href="{{ return_to }}" class="btn btn-outline-secondary sm">
                            ✕
                        </a>
                    {% endif %}


                </div>
            </div>

            <!--  OPIS  -->
            {% if post.description %}
                <p class="mb-1">{{ post.description|link_hashtags }}</p>
            {% endif %}

            <hr class="my-1">

            <!--  KOMENTARZE  -->
            <div class="flex-grow-1 overflow-auto" style="max-height: 55vh;">

                {% for comment in post.comments.all %}
                    {% if not comment.parent %}
                        <div class="d-flex justify-content-between align-items-start mb-2">

                            <!-- LEWA -->
                            <div style="max-width:85%; word-wrap:break-word;">
                                <div>
                                    <a href="{% url 'user_profile' comment.user.username %}" class="text-decoration-none text-light fw-bold">
                                        {{ comment.user.username }}
                                    </a>
                                    {{ comment.content }}
                                </div>

                                <div class="text-muted small">
                                    {{ comment.created_at|date:"d.m.Y H:i" }}
                                    · ❤️ {{ comment.likes.count }}
                                </div>
                            </div>

                            <!-- PRAWA – LIKE + DELETE -->
                            <div class="d-flex gap-1">

                                {% if comment.user == request.user %}
                                    <form method="post"
                                        action="{% url 'delete_comment' comment.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-sm btn-outline-danger delete-x">
                                            ✕
                                        </button>
                                    </form>
                                {% endif %}

                                <form method="post"
                                    action="{% url 'toggle_comment_like' comment.id %}">
                                    {% csrf_token %}

                                    {% if return_to %}
                                        <input type="hidden" name="from" value="{{ return_to }}">
                                    {% endif %}

                                    <button class="btn btn-sm
                                        {% if comment.id in liked_comment_ids %}
                                            btn-danger
                                        {% else %}
                                            btn-outline-danger
                                        {% endif %}">
                                        ❤️
                                    </button>
                                </form>

                            </div>

                        </div>
                    {% endif %}
                {% empty %}
                    <p class="text-muted">Brak komentarzy</p>
                {% endfor %}

            </div>

            <!--  INFO POSTA + LIKE  -->
            <div class="d-flex align-items-center justify-content-between mt-1 mb-1">

                <span class="text-muted small">
                    ❤️ {{ post.likes.count }}
                    · 💬 {{ post.comments.count }}
                    · {{ post.created_at|date:"d.m.Y H:i" }}
                </span>

                <form method="post" action="{% url 'toggle_like' post.id %}">
                    {% csrf_token %}
                    {% if return_to %}
                        <input type="hidden" name="from" value="{{ return_to }}">
                    {% endif %}
                    <button class="btn btn-sm
                        {% if is_liked %}
                            btn-danger
                        {% else %}
                            btn-outline-danger
                        {% endif %}">
                        ❤️
                    </button>
                </form>

            </div>

            <hr class="my-1">

            <!--  DODAJ KOMENTARZ  -->
            <form method="post" action="{% url 'add_comment' post.id %}" class="d-flex gap-2">
                {% csrf_token %}
                {% if return_to %}
                    <input type="hidden" name="from" value="{{ return_to }}">
                {% endif %}
                <input type="text" name="content" class="form-control"
                    placeholder="Dodaj komentarz...">
                <button class="btn btn-primary">Dodaj</button>
            </form>

        </div>

        <!--  STRZAŁKA: NOWSZY POST  -->
        <div class="col-1 d-flex align-items-center justify-content-center">
            {% if previous_post %}
                <a href="{{ previous_post.get_absolute_url }}"
                class="btn btn-outline-secondary"
                title="Starszy post">
                    &gt;
                </a>
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}
